.all {
  background-color: white;
  color:rgb(85, 216, 242);
  font-family: "Cormorant Garamond", serif;
  display:inline-flex;
  width: 100vw;
  margin:-2vw;
}


@keyframes MenuAnimation {
  0%   {opacity:0%;}
  20%  {opacity:4%;}
  50%  {opacity:25%;}
  75%  {opacity:56.25%;}
  100% {opacity:100%;}
  
}


.TitleList{
  list-style-type: none;
  text-align:left;
  animation-name: MenuAnimation;
  animation-duration: 1s;
  font-size: 2.5vw;
   

}

 
li{
  
  margin-top: 3vw;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
  transition-duration: 350ms;
}

li:hover{
  text-shadow: -1px 0 rgb(204, 246, 255), 0 1px rgb(204, 246, 255), 1px 0 rgb(204, 246, 255), 0 -1px rgb(204, 246, 255);
}

 


.MenuList{
  position:relative;
  padding: 12vh;
  padding-top:18vh;
  padding-left: 5%;
  align-items: center;
  background-color:rgb(255, 255, 255);
  max-block-size: 15%;
  border-style: none;
  box-shadow:0 0 8vw 10vw rgba(255, 255, 255,1);

}




.RightImage{
    height: 100vh; 
    width: 76.2vw;
    max-height:100vh; 
      
 }

 

 
.LinkStyles:visited{
  text-decoration: none;
  
}


.LinkStyles{
  text-decoration: none;
  color: rgb(85, 216, 242);
}

a:visited{
  text-decoration: none;
  
}


a{
  text-decoration: none;
}


.SiteTitle{
  position:relative;
  transform:translate(-80vh, 24vh);
  font-size:8vh;
  width:8vh;
  height:8vh;
  z-index:500;
  color:rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  text-shadow: rgb(255, 0, 0) 0 0 2vh;

}
