


@keyframes MenuAnimation {
  0%   {opacity:0%;}
  20%  {opacity:4%;}
  50%  {opacity:25%;}
  75%  {opacity:56.25%;}
  100% {opacity:100%;}
  
}


.TitleList{
  list-style-type: none;
  text-align:left;
  animation-name: MenuAnimation;
  animation-duration: 1s;
  font-size: 2.5vw;
  
   

}

 
li{
  
  margin-top: 3vw;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
  transition-duration: 350ms;
}

li:hover{
  text-shadow: -1px 0 rgb(204, 246, 255), 0 1px rgb(204, 246, 255), 1px 0 rgb(204, 246, 255), 0 -1px rgb(204, 246, 255);
}

 


.MenuList{
  position:relative;
  padding: 12vh;
  padding-top:12vh;
  padding-bottom:68vh;
  padding-left: 5%;
  height:100vh;
  align-items: center;
  background-color:rgb(255, 255, 255);
  max-block-size: 15%;
  border-style: none;
  box-shadow:0 40vh 13vw 21vw rgb(255, 255, 255);

}


@keyframes GroundAnimation {
  from {transform:translate(10.20vh,77vh)}
  to {transform:translate(-280vh,77vh);}
}

@keyframes GroundAnimationold {
  from {transform:translate(0.856vh,77vh)}
  to {transform:translate(-230vh,77vh);}
}



.RightImage{
  position: relative;
  z-index:-1;
  height:14vw;
  image-rendering:pixelated;
  animation-name: GroundAnimation;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-timing-function: linear;
  margin-right:-450vh;
  

  
      
 }




 

 
.LinkStyles:visited{
  text-decoration: none;
  
}


.LinkStyles{
  text-decoration: none;
  color: rgb(85, 216, 242);
}

a:visited{
  text-decoration: none;
  
}


a{
  text-decoration: none;
}


.SiteTitle{
  position:relative;
  font-size: 2.5vw;
  width:8vh;
  height:8vh;
  z-index:500;
  color:rgb(0, 221, 255);
  font-family: "Cinzel", serif;
  text-shadow: rgb(85, 216, 242) 0 0 0.5vh;
  text-decoration:none;


}

