

.body-HomePage{
  padding: 6vw;
  margin-left:18vw;
  margin-right:auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
  background-color:rgb(255, 255, 255);
  font-size:1vw;


  border-radius:2vw;
  border-color:rgb(130, 16, 58);
  border-width: 0.25vw;
  border-style: solid;
  box-shadow:0 0 17vw 17vw rgba(255, 255, 255, 1);
  
   
  width: 52vw;
  height: 200vw;
  
  
  
}

.Entirety-HomePage{
  
  margin-left: -0.5vw;
  margin-right:-0.5vw;
  margin-top:-4%;
  
  background-image:url("../Assets/BackgroundRed.jpg");
  background-attachment:fixed;
  background-size: cover;
  

}

.bodybackground-HomePage{
  
 
  background-color:rgba(0, 0, 0, 0.1);
  
  
}

.TopImage-HomePage{
  width: 99vw;
  height:30vw;
  
}


.Subtitle-HomePage{
  position:fixed;

  font-family: "Cormorant Garamond", serif;
  font-size:5vw;
  padding-top:5vw;

  transform:translateY(10vh);

  
  text-decoration-line: underline;
  text-orientation: sideways;
  writing-mode: vertical-rl;


  color:rgb(255, 255, 255);
  text-shadow: rgb(255, 55, 85) 0 0 2vh;
  z-index: 99;


}
