


.body-Projects{
  padding: 6vw;
  margin-left:18vw;
  margin-right:auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
  background-color:rgb(255, 255, 255);
  font-size:1vw;


  border-radius:2vw;
  border-color:rgb(80, 246, 255);
  border-width: 0.25vw;
  border-style: solid;
  box-shadow:0 0 9vw 9vw rgba(255, 255, 255, 1);
   
  width: 52vw;
  height: 200vw;

  
  
  
}

.Entirety-Projects{
  
  margin-top:-4%;
  margin-left: -0.5vw;
  margin-right:-0.5vw;
  background-image:url("Background.jpg");
  background-attachment:fixed;
  background-size: cover;
  

}

.bodybackground-Projects{
  
 
  background-color:rgba(0, 0, 0, 0.1);
  
}

 

.Subtitle-Projects{
  position:fixed;

  font-family: "Cormorant Garamond", serif;
  font-size:5vw;
  padding-top:5vw;

  transform:translateY(10vh);

  
  text-decoration-line: underline;
  text-orientation: sideways;
  writing-mode: vertical-rl;


  color:rgb(255, 255, 255);
  text-shadow: rgb(5, 187, 203) 0 0 2vh;
  
  z-index: 99;

}

.cpuimage{
  height: 28.55vh;
  position:relative;
  z-index: 1;

}

.Title{
  position:relative;
  z-index: 2;
  width:9vw;
  text-align: center;
  transform: translate(2.75vw,-19.5vh);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.Information{
  position:relative;
  transform: translate(1.5vw,-24.5vh);
  width:12vw;
  z-index: 5;
}


.bottompart{
  transform: translateY(-30vh);
}

.socketimage{
  height: 28vh;
  position: relative;
  z-index: 4;
 }

 .lidleft{
  position:relative;
  z-index: 6;
 }

 .lidright{
  position:relative;
  z-index: 6;
 }
 

@keyframes CPUAnimationLeft {
  0%   {transform: translateY(-2vh)}
  15%  {transform: translate(0vh, -2vh)}
  100% {transform: translate(29vh, -2vh)}
  
}

@keyframes CPUAnimationRight{
  0%   {transform: translateY(-2vh)}
  15%  {transform: translate(0vh, -2vh)}
  100% {transform: translate(-29vh, -2vh)}
  
}


.lidleft:hover{
  animation-name:CPUAnimationLeft;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}



.lidright:hover{
  animation-name:CPUAnimationRight;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}



.grid1 {
  display:inline-flex;
}

.Grid-Projects2{
  transform:translateY(40vh);

}


.Grid-Projects{
  padding-right:35vh;
  
}

.Project{
  position:relative;
  z-index: 30;
}

.subheading{
  color:rgb(0, 0, 0);
  font-family: "Cormorant Garamond", serif;
  text-align:center;
  font-size: 10vh;
  text-decoration-line: overline;
  
}


.subcontext{
  color:rgb(0, 0, 0);
  font-family: "Cormorant Garamond", serif;
  text-align:center;
  font-size: 3vh;
  
}

.divider{
  color:rgb(80, 246, 255);
  text-decoration-line: underline;
  text-align:center;
  font-size: 10vh;
}




.line1{
  position:absolute;
  height:40vh;
  transform:translate(10vw, 2vh);
  z-index:8;
}



.line2{
  position:absolute;
  height:15vh;
  transform:translate(-27vw, 15vh);
  z-index:1;
}


.line1inverse{
  position:absolute;
  height:45vh;
  transform:translate(-32vw, -20vh) rotateX(180deg) rotateY(180deg);
  z-index:1;
}

 